bin/
obj/
Grammar/*.interp
Grammar/*.tokens
Tools/*.jar
.vscode/
Frontend/Grammar/*.interp
Frontend/Grammar/*.tokens
.DS_Store
.VSCodeCounter/
**/**.hksFrontend/vscode-hksscript/node_modules/
Frontend/vscode-hksscript/*.vsix
_pkg/
release/
