bin/
obj/
Grammar/*.interp
Grammar/*.tokens
Tools/*.jar
.vscode/
Frontend/Grammar/*.interp
Frontend/Grammar/*.tokens
.DS_Store
.VSCodeCounter/
Frontend/vscode-hkscript/node_modules/
Frontend/vscode-hkscript/*.vsix
_pkg/
release/
*.png
test.png
*.nupkg
HksScript.Sdk/bin/
HksScript.Sdk/obj/
tests/
HKSScript_tests/
test.png
*.png
